.workBox {
    padding: 100px 12%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 770px) {
    .workBox {
        padding: 50px 32px;
    }
}

@media screen and (max-width: 600px) {
    .workBox {
        padding: 50px 20px;
    }
}

.workHeader {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: clamp(26px,5vw,32px);
    font-family: var(--font-sans);
    color: var(--lightest-slate);
    font-weight: 600;
    position: relative;
    margin: 10px 0px 40px;
    line-height: 1.1;
    white-space: nowrap;
}

.workHeader::before {
    position: relative;
    bottom: 4px;
    content: "03.";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(16px,3vw,20px);
    font-weight: 400;
}

.workHeader::after {
    content: "";
    display: block;
    top: -5px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: var(--lightest-navy);
}

@media screen and (max-width: 420px) {
    .workHeader {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .workHeader::after {
        margin: 0px;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    .workHeader {
        white-space: normal;
    }
}


.featuredList {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projectContent {
    width: 100%;
    gap: 20px;
    display: flex;
    align-items: center;
}

.featuredItems:nth-child(even) .projectContent {
    flex-direction: row-reverse;
}

.porjectImageBox {
    width: 55%;
    overflow: hidden;
    cursor: pointer;
}

.porjectImageBox img {
    width: 100%;
    transition: all 0.2s;
}

.porjectImageBox:hover img {
    transform: scale(1.1);
}

.innerFeatured {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.featuredItems:nth-child(odd) .projectContent .innerFeatured {
    align-items: flex-end;
}

.featuredItems:nth-child(odd) .projectContent .innerFeatured * {
    text-align: end;
}

.featuredProjects {
    color: var(--green);
    font-family: var(--font-mono);
    font-weight: 400;
    font-size: 0.8rem;
    margin: 12px 0px;
}

.featuredProjectTitle {
    text-decoration: none;
    margin-bottom: 24px;
    color: var(--lightest-slate);
    font-size: clamp(24px, 5vw, 28px);
    font-weight: 600;
    font-family: var(--font-sans);
    transition: all 0.2s;
}

.featuredProjectTitle:hover {
    color: var(--green);
}

.featuredCard {
    width: 110%;
    padding: 20px;
    background-color: var(--light-navy);
    color: var(--light-slate);
    font-family: var(--font-sans);
    line-height: 1.3;
    font-size: 1.2rem;
    transition: all 0.2s;
    z-index: 2;
}

.featuredCard:hover {
    box-shadow: 0 20px 30px -15px var(--navy-shadow);
}

.toolsPackages {
    position: relative;
    text-decoration: none;
    color: var(--green);
    white-space: nowrap;
}

.toolsPackages::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 1px;
    background-color: var(--green);
    transform: translateY(-2px);
    transition: all 0.2s;
}

.toolsPackages:hover::before {
    width: 100%;
}

.toolsList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 20px;
    margin: 20px 0;
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(1rem);
    line-height: 1.3;
}

.linkIcons {
    display: flex;
    gap: 20px;
}

.linkIcons a {
    text-decoration: none;
}

.linkIcons a svg {
    stroke: var(--white);
    width: 32px;
    height: 32px;
    transition: all 0.2s;
}

.linkIcons a:hover svg {
    stroke: var(--green);
    transform: translateY(-2px);
}

@media screen and (max-width: 600px) {
    .porjectImageBox {
        display: none;
    }
   
    .featuredItems:nth-child(n) .projectContent .innerFeatured {
        padding: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        background-color: var(--dark-navy-tint);
        align-items: flex-start;
        transition: all 0.2s;
    }

    .featuredItems:nth-child(n) .projectContent .innerFeatured:hover {
        box-shadow: 0 20px 30px -15px var(--navy-shadow);
    }

    .featuredItems:nth-child(odd) .projectContent .innerFeatured * {
        text-align: start;
    }

    .featuredProjects {
        color: var(--green);
        font-family: var(--font-mono);
        font-weight: 400;
        font-size: 0.8rem;
        margin: 12px 0px;
    }

    .featuredCard {
        padding: 0;
        width: calc(100% - 40px);
        background-color: transparent;
        cursor: auto;
    }

    .featuredCard:hover {
        box-shadow: none;
    }

    .linkIcons a svg {
        width: 24px;
        height: 24px;
    }    
}

@media screen and (max-width: 400px) {
    .featuredProjects {
        font-size: 0.7rem;
    }

    .featuredProjectTitle {
        margin-bottom: 16px;
    }
    
    .featuredCard {
        font-size: 1rem;
        padding: 0;
        width: calc(100% - 40px);
        background-color: transparent;
        cursor: auto;
    }
    
    .featuredCard:hover {
        box-shadow: none;
    }
    
    .toolsList {
        row-gap: 4px;
        column-gap: 16px;
        margin: 8px 0 16px 0;
        font-size: 0.8rem;
        line-height: 1.1;
    }
    
    .linkIcons {
        gap: 16px;
    }
    
    .linkIcons a svg {
        width: 16px;
        height: 16px;
    }    
}