.otherWork {
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherWorkHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
}

.otherWorkHeader h2 {
    font-size: clamp(20px,5vw,32px);
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
    font-family: var(--font-sans);
    transition: all 0.2s;
}

.workGridBox {
    width: 100%;
    padding: 28px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 28px;
    background-color: var(--light-navy);
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    gap: 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.grid:hover {
    transform: translateY(-4px);
}

.folderLinkIcon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folderLinkIcon svg {
    width: 40px;
    stroke: var(--green);
}

.gitExternalIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.gitExternalIcons a {
    text-decoration: none;
}

.gitExternalIcons a svg {
    width: 20px;
    stroke: var(--light-slate);
    transition: all 0.2s;
}

.gitExternalIcons a svg:hover {
    stroke: var(--green);
}

.gridProjectTitle {
    font-size: 1.5rem;
    margin: 8px 0;
    color: var(--lightest-slate);
    font-weight: 600;
    line-height: 1.1;
    font-family: var(--font-sans);
    transition: all 0.2s ease-in-out;
}

.grid:hover .gridProjectTitle {
    color: var(--green);
}

.gridProjectDescription {
    font-size: 1.2rem;
    color: var(--light-slate);
    font-family: var(--font-sans);
    line-height: 1.3;
}

.gridProjectTechList {
    list-style: none;
    margin-right: 40px;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 6px;
    color: var(--slate);
    font-family: var(--font-mono);
    line-height: 1.75;
}

.showMore {
    position: relative;
    margin-top: 40px;
    padding: 16px 28px;
    border: 1px solid var(--green);
    border-radius: 4px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    cursor: pointer;
}

.showMore:hover {
    background-color: var(--green-tint);
}

.showMore h3 {
    font-size: 1rem;
    color: var(--green);
    font-family: var(--font-mono);
    font-weight: 100;
}

.LoadingBox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadingBox div {
}

.buttonLoading {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--green);
    border-bottom-color: transparent;
    animation: loader 1s linear infinite;
}

@media screen and (max-width: 300px) {
    .grid {
        padding: 20px;
    }

    .showMore {
        position: relative;
        margin-top: 28px;
        padding: 16px 20px;
    }
    
    .showMore h3 {
        font-size: 0.8rem;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }    
    100% {
        transform: rotate(360deg);
    }
}