.footer {
    width: 100%;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: var(--navy);
}

.footerLink, .designer {
    text-decoration: none;
    color: var(--white);
    font-family: var(--font-mono);
    font-size: 0.8rem;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerLink:hover, .designer:hover {
    color: var(--green);
}

.clonedBy {
    text-align: center;
}

.githubStars {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.githubStars span {
    display: flex;
    gap: 4px;
}

.githubStars span svg {
    width: 16px;
    height: 16px;
}
