/* scroll bar */
.bodyLight::-webkit-scrollbar-thumb {
    border-color: var(--light-slate-transparent);
}

.bodyLight::-webkit-scrollbar-thumb {
    border-color: var(--light-slate-transparent);
}

.bodyLight::-webkit-scrollbar-track {
    background-color: var(--light-slate-transparent);
}

/* vertical columns */
.bodyLight .socialIcons svg {
    stroke: var(--navy);
}

.bodyLight .socialIcons:hover svg {
    stroke: var(--blue);
}

.bodyLight .verticalLine {
    background-color: var(--navy);
}

.bodyLight .emailText {
    color: var(--navy);
}

.bodyLight .emailText:hover {
    color: var(--blue);
}

/* container */
.bodyLight .container {
    background-color: var(--white);
}

/* navigation bar */
.bodyLight .navbarBox {
    background-color: var(--light-slate-transparent);
}

.bodyLight .anchorNav {
    color: var(--navy);
}

.bodyLight .anchorNav:hover {
    color: var(--blue);
}

.bodyLight .listItem:last-child {
    border-color: var(--blue);
}

.bodyLight .listItem:last-child:hover {
    background-color: var(--blue-tint);
}

.bodyLight .listItem:last-child .anchorNav {
    color: var(--navy);
    border: none;
}

.bodyLight .itemNum {
    color: var(--blue);
}

.bodyLight .mode {
    background-image: url("../images/night-mode.png");
}

.bodyLight .hamburgerLine {
    background-color: var(--blue);
}

.bodyLight .listBox.active {
    background-color: var(--light-slate);
}

/* Intro Section */
.bodyLight .introBox h4 {
    color: var(--blue);
}

.bodyLight .name {
    color: var(--dark-navy);
}

.bodyLight .description {
    color: var(--navy);
}

.bodyLight .introBox p {
    color: var(--lightest-navy);
}

.bodyLight .introBox p .upwork {
    color: var(--blue);
}

.bodyLight .introBox p .upwork::before {
    background-color: var(--blue);
}

.bodyLight .checkGithub {
    border-color: var(--blue);
    color: var(--blue);
}

.bodyLight .checkGithub:hover {
    color: var(--navy);
    background-color: var(--blue);
}

/* About Section */
.bodyLight .sectionNumber {
    color: var(--blue);
}

.bodyLight .sectionHeading {
    color: var(--dark-navy);
}

.bodyLight .sectionLine {
    background-color: var(--blue);
}

.bodyLight .aboutText p {
    color: var(--lightest-navy);
}

.bodyLight .workPlaces,
.bodyLight .nanodegree {
    color: var(--blue);
}

.bodyLight .workPlaces::before,
.bodyLight .nanodegree::before {
    background-color: var(--blue);
}

.bodyLight .technologiesList {
    color: var(--lightest-navy);
}

.bodyLight .technologyItem::before {
    color: var(--blue);
}

.bodyLight .personalImage::before {
    border-color: var(--blue);
}

.bodyLight .personalImage:hover::after {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/* Experience Section */
.bodyLight .experienceHeader {
    color: var(--dark-navy);
}

.bodyLight .experienceHeader::before {
    color: var(--blue);
}

.bodyLight .experienceHeader::after {
    background-color: var(--blue);
}

.bodyLight .placesList::before {
    background-color: transparent;
}

.bodyLight .placesListItems {
    color: var(--blue);
}

.bodyLight .placesListItems:hover {
    background-color: var(--lightest-slate);
}

.bodyLight .placesListItems.active::before {
    background-color: var(--blue);
}

.bodyLight .placesListItems.active::after {
    background-color: var(--blue);
}

.bodyLight h3 .jobTitle {
    color: var(--dark-navy);
}

.bodyLight h3 .company {
    color: var(--blue);
}

.bodyLight .placeName {
    color: var(--blue);
}

.bodyLight .placeName::before {
    background: var(--blue);
}

.bodyLight .range {
    color: var(--lightest-navy);
}

.bodyLight .jobDecriptionItem {
    color: var(--light-navy);
}

.bodyLight .jobDecriptionItem::before {
    color: var(--blue);
}

@media screen and (max-width: 700px) {
    .bodyLight .placesList::-webkit-scrollbar-thumb {
        border-color: var(--light-slate-transparent);
    }
    
    .bodyLight .placesList::-webkit-scrollbar-thumb {
        border-color: var(--light-slate-transparent);
    }
    
    .bodyLight .placesList::-webkit-scrollbar-track {
        background-color: var(--light-slate-transparent);
    }
}

/* Work Section */
.bodyLight .workHeader {
    color: var(--dark-navy);
}

.bodyLight .workHeader::before {
    color: var(--blue);
}

.bodyLight .workHeader::after {
    background-color: var(--blue);
}

.bodyLight .featuredProjects {
    color: var(--blue);
}

.bodyLight .featuredProjectTitle {
    color: var(--dark-navy);
}

.bodyLight .featuredCard {
    background-color: var(--light-slate);
}

.bodyLight .featuredCard p {
    color: var(--light-navy);
}

.bodyLight .toolsList {
    color: var(--light-navy);
}

.bodyLight .toolsPackages {
    color: var(--blue);
}

.bodyLight .toolsPackages::before {
    background-color: var(--blue);
}

@media screen and (max-width: 600px) {
    .bodyLight .featuredItems:nth-child(n) .projectContent .innerFeatured {
        background-color: var(--lightest-slate);
    }

    .bodyLight .featuredCard {
        background-color: transparent;
    }

    .bodyLight .linkIcons a svg {
        stroke: var(--navy);
    }  

    .bodyLight .linkIcons a:hover svg {
        stroke: var(--blue);
    }  
}

.bodyLight .otherWorkHeader h2 {
    color: var(--dark-navy);
}

.bodyLight .grid {
    background-color: var(--light-slate);
}

.bodyLight .folderLinkIcon svg,
.bodyLight .gitExternalIcons a svg {
    stroke: var(--navy);
}

.bodyLight .gitExternalIcons a svg:hover {
    stroke: var(--blue);
}

.bodyLight .gridProjectTitle {
    color: var(--dark-navy);
}

.bodyLight .grid:hover .gridProjectTitle {
    color: var(--blue);
}

.bodyLight .gridProjectDescription {
    color: var(--lightest-navy);
}

.bodyLight .gridProjectTechList {
    color: var(--lightest-navy);
}

.bodyLight .showMore {
    border-color: var(--blue);
}

.bodyLight .showMore:hover {
    background-color: var(--blue-tint);
}

.bodyLight .showMore h3 {
    color: var(--blue);
}

.bodyLight .buttonLoading {
    border-color: var(--blue);
    border-bottom-color: transparent;
}

/* Contact Section */
.bodyLight .contactHeader {
    color: var(--blue);
}

.bodyLight .getInTouch {
    color: var(--dark-navy);
}

.bodyLight .contactBox p {
    color: var(--lightest-navy);
}

.bodyLight .contactBox a {
    border-color: var(--lightest-navy);
    color: var(--lightest-navy);
}

.bodyLight .contactBox a:hover {
    background-color: var(--blue);
    color: var(--dark-navy);
}

/* Footer */
.bodyLight .footer {
    background-color: var(--white);
}

.bodyLight .footerLink,
.bodyLight .designer {
    color: var(--dark-navy);
}

.bodyLight .footerLink:hover,
.bodyLight .designer:hover {
    color: var(--blue);
}