.mode.light {
    background-image: url("../images/night-mode.png");
}

body.light-scroll::-webkit-scrollbar-thumb {
    border-color: var(--light-slate-transparent);
}

body.light-scroll::-webkit-scrollbar-track {
    background-color: var(--light-slate-transparent);
}

.navbarBox.light {
    background-color: var(--light-slate-transparent);
}

.container.light {
    background-color: var(--white);
}

.anchorNav.light, .listItem:last-child .anchorNav.light {
    color: var(--navy);
}

.listBox.active.light {
    background-color: var(--light-slate);
}

.listItem:hover .anchorNav {
    color: var(--green);
}

.socialIcons.light svg {
    stroke: var(--navy);
}

.socialIcons.light:hover svg {
    stroke: var(--green);
}

.verticalLine.light {
    background-color: var(--navy);
}

.emailText.light {
    color: var(--navy);
}

.emailText.light:hover {
    color: var(--green);
}

.name.light {
    color: var(--navy);
}

.description.light {
    color: var(--light-navy);
}

.summary p.light {
    color: var(--lightest-navy);
}

.upwork.light::before {
    background: var(--navy);
}

.checkGithub.light {
    color: var(--navy);
    border-color: var(--navy);
}

.sectionHeading.light {
    color: var(--navy);
}

.sectionLine.light {
    background-color: var(--navy);
}

.aboutText p.light {
    color: var(--light-navy);
}

.workPlaces.light::before,
.nanodegree.light::before {
    background: var(--navy);
}

.technologyItem.light {
    color: var(--light-navy);
}

.personalImage.light::before {
    border-color: var(--navy);
}

.experienceHeader.light {
    color: var(--navy);
}

.experienceHeader.light {
    color: var(--navy);
}

.placesListItems.light {
    color: var(--navy);
}

.placesListItems.light:hover {
    background: var(--lightest-slate);
}

.placesInner.light h3 .jobTitle {
    color: var(--navy);
}

.placesInner.light .range {
    color: var(--light-navy);
}

.placesInner.light .jobDecription li {
    color: var(--dark-slate);
}

.workHeader.light {
    color: var(--navy);
}

.featuredProjectTitle.light {
    color: var(--navy);
}

.featuredCard.light {
    background-color: var(--lightest-slate);
}

@media screen and (max-width: 600px) {
    .featuredCard.light {
        background-color: transparent;
    }
}

.featuredCard.light p {
    color: var(--light-navy);
}

.toolsList.light {
    color: var(--lightest-navy);
}

.linkIcons.light a svg {
    stroke: var(--navy);
}

.linkIcons.light a:hover svg {
    stroke: var(--green);
}

.otherWorkHeader.light h2 {
    color: var(--navy);
}

.grid.light {
    background-color: var(--slate);
}

.folderLinkIcon.light svg {
    stroke: var(--navy);
}

.gitExternalIcons.light a svg {
    stroke: var(--navy);
}

.gitExternalIcons.light a svg:hover {
    stroke: var(--green);
}

.gridProjectTitle.light {
    color: var(--dark-navy);
}

.gridProjectDescription.light {
    color: var(--light-navy);
}

.gridProjectTechList.light {
    color: var(--lightest-navy);
}

.showMore.light {
    border: 1px solid var(--navy);
}

.showMore.light:hover {
    background-color: var(--green);
}

.showMore.light h3 {
    color: var(--navy);
}

.showMore.light .LoadingBox .buttonLoading {
    border: 2px solid var(--navy);
    border-bottom-color: transparent;
}

.contactBox.light .contactHeader {
    color: var(--navy);
}

.contactBox.light .contactHeader::before {
    color: var(--green);
}

.contactBox.light h2 {
    color: var(--dark-navy);
}

.contactBox.light p {
    color: var(--lightest-navy);
}

.contactBox.light a {
    border-color: var(--navy);
    color: var(--navy);
}

.contactBox.light a:hover {
    background-color: var(--green);
}

.footer.light {
    background: var(--white);
    transition: all 0.2s;
}

.footerLink.light {
    color: var(--navy);
}

.footerLink:hover.light {
    color: var(--green);
}