@font-face {
    font-family: "Calibre";
    src: url("../fonts/Calibre/Calibre-Regular.ttf") format('truetype'),
         url("../fonts/Calibre/Calibre-Regular.woff") format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "SF Mono";
    src: url("../fonts/SFMono/SFMono-Regular.ttf") format('truetype'),
         url("../fonts/SFMono/SFMono-Regular.woff") format('woff');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-navy: #020c1b;
    --dark-navy-tint: #020c1ba2;
    --navy: #0a192f;
    --navy-transparent: #0a192fc2;
    --light-navy: #112240;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2,12,27,0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --light-slate-transparent: #a8b2d1c2; 
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100,255,218,0.1);
    --pink: #f57dff;
    --blue: #57cbff;

    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-slate);
    border: 3px solid var(--navy);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--navy);
}

.container {
    background-color: var(--navy);
    height: fit-content;
    min-height: 100vh;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 770px) {
    .container.active-blur::after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: transparent;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        z-index: 3;
    }
}